@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

$Orange: hsl(0, 0%, 0%);
$Purple: #e48900;
$Pale-oragne: hsl(25, 100%, 94%);
$Very-vark-blue: hsl(219, 9%, 13%);
$Dark-grayish-blue: hsl(210, 1%, 27%);
$Grayish-blue: hsl(220, 14%, 75%);
$Light-grayishblue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%,);
$Red: hsl(0, 100%, 50%);
$Font:'Rubik', sans-serif; 
